
<a class="button" [ngClass]="{ hidden: formNewHidden }" (click) = "showNewProject()">
  <span class="fas fa-folder-plus"></span>
  <span> Nuevo proyecto</span>
</a>

<app-filter-projects-form
  [ngClass] = "{ hidden: formNewHidden }"
  (findProjectEmitter)="findProject($event)">

</app-filter-projects-form>

<app-newproject
  [ngClass] = "{ hidden: !formNewHidden }"
  (hideNewForm) = "hideNewProject()">
</app-newproject>

<app-dashboard
  [projects]="projects"
  [getMaxProjects]="getMaxProjects"
>
</app-dashboard>

<app-projects-list
  [projects]="projects">
</app-projects-list>




