
<a class="button" [ngClass]="{ hidden: formNewHidden }" (click) = "newProjectViewControl(true)">
  <span class="fas fa-folder-plus"></span>
  <span> Nuevo proyecto</span>
</a>

<app-filter-projects-form
  [ngClass] = "{ hidden: formNewHidden }"
  (findProjectEmitter)="findProject($event)">

</app-filter-projects-form>

<app-newproject
  [ngClass] = "{ hidden: !formNewHidden }"
  [canSave]="canSave"
  (hideNewForm) = "newProjectViewControl($event)"
  (savedProjectEmitter)= "refreshProjects($event)">
</app-newproject>

<app-dashboard
  [projects]="(allProjects$ | async)?.length"
  [getMaxProjects]="getMaxProjects"
>
</app-dashboard>

<!--<app-projects-list
  [projects]="(projects$ | async)"
  (projectDeleted)="refreshProjects($event)">
</app-projects-list>-->
<div *ngIf="projects$ | async; let projects; else empty">
  <app-projects-list
    [projects]="projects"
    (projectDeleted)="refreshProjects($event)">
  </app-projects-list>
</div>
<ng-template #empty> <i>No hay datos dados de alta</i> </ng-template>


