<!--<header class="sticky">
  <a routerLink="" class="logo">
    <span class="fas fa-cat margin-button-icon"></span>
    <span>ProjShared</span>
  </a>
  <a routerLink="" class="button">
      <span class="fas fa-home margin-button-icon"></span>
      <span>Home</span>
    </a>
  <a routerLink="projects" class="button">
    <span class="fas fa-folder margin-button-icon"></span>
    <span>Proyectos</span>
  </a>
</header>
-->

<mat-toolbar>Menu</mat-toolbar>
<mat-nav-list>
  <a routerLink="" mat-list-item>
    <i class="material-icons margin-button-icon">home</i>
    <span>Inicio</span>
  </a>
  <a routerLink="projects" mat-list-item>
    <i class="material-icons margin-button-icon">folder</i>
    <span>Proyectos</span>
  </a>
</mat-nav-list>
