
<form [formGroup]="findProjectForm">
  <fieldset>
    <legend>Formulario de búsqueda</legend>
    <div class="row">
      <div class="col-sm-3">
        <label for="id">Id</label>
        <input
          name="id"
          type="text"
          formControlName="id"

        />
      </div>
      <div class="col-sm-9">
        <label for="name">Name</label>
        <input
          name="name"
          type="text"
          formControlName="name"

        />
      </div>
    </div>
  </fieldset>
  <button class="button" (click)=" findProject()" [disabled]="findProjectForm.invalid" >
    <span class="fas fa-search margin-button-icon" ></span>
    <span>Buscar</span>
  </button>
  <button class="button" (click)=" cleanProject() " >
    <span class="fas fa-broom margin-button-icon" ></span>
    <span>Limpiar</span>
  </button>
</form>
