<form >
    <div [hidden]="!disabledSaveProjects()">
      <div class="row">
          <div class="col-sm-11" style="color: red;">
            <span>Número máximo de proyectos alcanzados</span>
          </div>
      </div>
    </div>

  <fieldset>
    <legend>Alta de proyecto</legend>
    <section>
      <label for="name">Nombre</label>
      <input
        name="name"
        type="text"
        [(ngModel)]="newProjectString"

      />
    </section>
  </fieldset>
  <input value="Guardar" type="submit" (click)=" saveNewProject() " [disabled]= "disabledSaveProjects()" />
  <a routerLink="/projects" class="button secondary" (click)="cancelNewProject.emit(true)"> <span class="">Cancelar</span> </a>
</form>
<div class="{{classStatus}}">
  <div class="row">
      <div class="col-sm-1">
        <span><img width="auto" style="vertical-align: -3px" src="./assets/ok.png" /></span>
      </div>
      <div class="col-sm-11">
        <span>Guardado correctamente {{savedProjectName}}</span>
      </div>
  </div>
</div>

