<form [formGroup]="newProjectForm">
  <fieldset>
    <legend>Alta de proyecto</legend>
    <section>
      <label for="name">Nombre</label>
      <input
        name="name"
        type="text"
        formControlName ="name"
      />
      <span>{{ getError('name') }}</span>
    </section>
  </fieldset>

  <button (click)=" saveNewProject() " [disabled]= "!canSave || newProjectForm.invalid" >
    <span class="fas fa-save margin-button-icon"></span>
    <span>Guardar</span>
  </button>
  <a routerLink="/projects" class="button secondary" (click)="cancelNewProjectControl()">
    <span class="fas fa-minus margin-button-icon"></span>
    <span class="">Cancelar</span>
  </a>
</form>
<div class="{{classStatus}}">
  <div class="row">
      <div class="col-sm-1">
        <span><img width="auto" style="vertical-align: -3px" src="./assets/ok.png" /></span>
      </div>
      <div class="col-sm-11">
        <span>Guardado correctamente {{savedProjectName}}</span>
      </div>
  </div>
</div>

