<form [formGroup]="newProjectForm">
  <fieldset>
    <legend>Alta de proyecto</legend>
    <section>
      <div>
        <mat-form-field>
          <input matInput placeholder="Nombre del proyecto" formControlName="name" required>
        </mat-form-field>
        <mat-error *ngIf="newProjectForm.invalid">{{ getError('name') }}</mat-error>
      </div>
    </section>
  </fieldset>

  <button (click)=" saveNewProject() " [disabled]= "!canSave || newProjectForm.invalid" >
    <span class="fas fa-save margin-button-icon"></span>
    <span>Guardar</span>
  </button>
  <a routerLink="/projects" class="button secondary" (click)="cancelNewProjectControl()">
    <span class="fas fa-minus margin-button-icon"></span>
    <span class="">Cancelar</span>
  </a>
</form>
<mat-card class="{{classStatus}}">
  <mat-card-content>
    <div style="padding-top: 10px">
      <span>
        <span><img width="auto" style="vertical-align: -3px" src="./assets/ok.png" /></span>
      </span>
      <span style="margin-left: 5px">
        <span>Guardado correctamente {{savedProjectName}}</span>
      </span>
    </div>
  </mat-card-content>
</mat-card>

